apscheduler>=3.11.2
faiss-cpu>=1.13.2
fastapi>=0.135.2
feedparser>=6.0.12
httpx>=0.28.1
langdetect>=1.0.9
numpy>=2.4.3
psycopg2-binary>=2.9.11
pydantic>=2.12.5
requests>=2.33.0
scikit-learn>=1.8.0
uvicorn>=0.42.0
vaderSentiment>=3.3.2
web3>=7.14.1
